#################################################################################
#
# SSL certificates
#
#################################################################################

# Locations where to search for SSL certificates
ssl-certificate-paths={{ lynis_cert_search_paths | join(':') }}
